/* General body css */
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}

/* body css */
body{
    background-color: #000000;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(media/bg-image.jpg);
    background-position-x: calc(100% - 250px);
    background-size: contain;
    background-repeat: no-repeat;
}

/* containter */
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block; /* align items horizontally */
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo span{
    color: #ff004f;
}

/* header text */
.header-text{
    margin-top: 20%;
    font-size: 20px;
}
.header-text h4{
    font-size: 20px;
    margin-top: 18px;
}
.header-text h4 span{
    color: #ff004f;
}

/* about css */
#about{
    padding: 10px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-title{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px 0;
}
/* Work, education and skills */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

/* skills content */
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-weight: 16;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* services */
#services{
    padding: 20px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
}
.services-list div{
    background: #262626;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 1s transform 1.5s;
    cursor: pointer;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
}
.services-list div h5{
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 600;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* Portfolio */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Automatically adjusts the number of columns based on screen size */

    /* grid-template-columns - specifies the number (and the widths) of columns in a grid layout */
    grid-gap: 40px;
    margin-top: 20px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
   width: 100%;
   border-radius: 10px;
   display: block;
   transition: transform 0.5s; /* zooms the image in */
   cursor: pointer;
   object-fit: cover;
   aspect-ratio: 1 / 1;
  
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 1.5s; /* increase the layer height on hover */
}
.layer h5{
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 600;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
   align-items: center;
   /* place the item in the center of circle */
   display: flex;              
   align-items: center;       
   justify-content: center; 
}
.work:hover img{
    transform: scale(1.1); /* zooms the image in on hover */
}
.work:hover .layer{
    height: 100%;
}
.see-more-btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;

}.see-more-btn:hover{
    background: #ff004f;
}

/* contact info! */
.contact-left{
    flex-basis: 35%; /* 35% width of 100% width */
}
.contact-right{
    flex-basis: 60%; /* takes 60% of 100% */
}
.contact-left p{
    margin-top: 20px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 5px;
    cursor: pointer;
}

.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 1s;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}

/* Resume */
.see-more-btn.btn-resume{
    display: inline-block;
    background: #ff004f;
    margin-right: 20px;
}

/* see ore button */
.see-more{
    display: flex;
    justify-content: center;
}
.see-more-btn.btn-see{
    background: #ff004f;
    cursor: pointer;
    text-align: center;
}

/* contact form */
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    border-radius: 6px;
}
.see-more-btn.btn-submit{
    display: inline-block;
    background: #ff004f;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

/* Copy right */
.copy-right{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copy-right i{
    color: #ff004f;
}
nav .fa-solid{
    display: none; /* hide menu on big screen */
}

/* Phone Responsiveness */
@media only screen and (max-width: 480px){
    #header{
        width: 100%;
        height: 100vh;
        background-image: url(media/bg-image.jpg);
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 0;

    }
   #about{
    margin-top: -150px;
    padding-top: 0;
   }
    .header-text{
        margin-top: 60%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 18px;
    }
    /* display menu on small screen */
    nav .fa-solid{
        display: block;
        font-size: 20px;
    }

    #side-menu{
        position: fixed;
        right: -200px;
        transition: right 0.5s ease;
    }

    /* hide ul li on small screen */
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s; /* moves side menubar right smoothly */
}
    /* arrange menu list vertically */
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%; 
    }
 
    .about-col-2{
        font-size: 14px;
       
    }
    .tab-titles{
         flex-wrap: wrap;
    }

    #about{
        padding: 2px;
    }
    
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copy-right{
        font-size: 14px;
    }
    .btn-resume, .btn-see{
        font-size: 14px;
    }
    .work img{
        height: 380px;

    }
    .see-more-btn.btn-see{
        width: 100%;
    }
    .location{
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .location iframe{
        border-radius: 10px;
        height: 200px;
    }
    
}

#message{
    margin-top: -30px;
    color: #61b752;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.location iframe{
    border-radius: 10px;
    height: 200px;
    width: 100%;
}